.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.button {
  font-size: 16px !important;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid transparent;
  color: whitesmoke;
  padding-bottom: 4px;
  width: 99% !important;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.15s;
  float: right;
  margin-right: 8px;
  height: 40px !important;
}

.no-item-button{
  font-size: 16px !important;
  align-items: center;
  width: 100% !important;
  height: 40px !important;
}

.textbox {
  font-size: 30px;
  padding: 2px;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  height: 45px;
}

.text {
  font-size: 23px;
  margin-bottom: 20px;
}

.pay {
  margin-top: 70px;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.congratulations {
  margin-top: 50px;
  text-align: center;
}
.margin {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.cart {
  margin-left: 2px;
}